@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --color-primary: #E0AE1A;
  --color-secondary: #F2B200;
  --color-accent: #FFD301;
  --color-neutral-700: #e5e5e5;
  --color-neutral-500: #a3a3a3;
  --color-light: #404040;
  --color-dark: #090909;
  --color-darker: #404040;
  --color-card: #58595B;
  --color-card-hover: #6a6b6d;
}

body {
  background-color: var(--color-light);
  color: var(--color-neutral-700);
}

.animate-zoom-slow {
  animation: zoomSlow 20s ease-in-out infinite alternate, fadeIn 2s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
