@import "tailwindcss";

:root {
  --background: #0f0f0f;
  --foreground: #fafafa;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --font-serif: var(--font-inter);
}

:root {
  --color-primary: #E0AE1A;
  --color-secondary: #F2B200;
  --color-accent: #FFD301;
  --color-neutral-700: #e5e5e5;
  --color-neutral-500: #a3a3a3;
  --color-light: #404040;
  --color-dark: #090909;
  --color-darker: #404040;
  --color-card: #313131;
  --color-card-hover: #6a6b6d;
}

body {
  background-color: var(--color-light);
  color: var(--color-neutral-700);
  font-family: var(--font-inter), sans-serif;
}

* {
  font-family: var(--font-inter), sans-serif;
}

@keyframes zoomSlow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes spinSlow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-zoom-slow {
  animation: zoomSlow 20s ease-in-out infinite alternate;
}

.animate-spin-slow {
  animation: spinSlow 8s linear infinite;
}
