@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



:root {
  --color-primary: #E0AE1A;
  --color-secondary: #F2B200;
  --color-accent: #FFD301;
  --color-neutral-700: #404040;
  --color-neutral-500: #58595B;
  --color-light: #FFFFFF;
}

body {
  background-color: var(--color-light);
  color: var(--color-neutral-700);
}
